:root {
  --dark-blue: #262e38;
  --light-gray: #969fad;
  --medium-gray: #7c8798;
  --orange: #fc7614;
  --white: #ffffff;
  --very-dark-blue: #131518;
  --background-gradient: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
}

html,
body {
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  background: var(--very-dark-blue);
  max-width: 1440px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
